@using DandyDoc.Web.Mvc4.Helpers;
@model DandyDoc.CodeDoc.CodeDocMethod
@{
  Layout = "./_Layout.cshtml";
  if (Model.HasGenericParameters) {
  <section>
    <h2>Generic Parameters</h2>
    @Html.CodeDocParameters(Model.GenericParameters)
  </section>
  }
  if (Model.HasParameters) {
  <section>
    <h2>Parameters</h2>
    @Html.CodeDocParameters(Model.Parameters)
  </section>
  }
  if (Model.HasReturn) {
  <section>
    <h2>Returns</h2>
    @Html.CodeDocParameterDetails(Model.Return)
  </section>
  }
  if (Model.HasExceptions) {
  <section>
    <h2>Exceptions</h2>
    @Html.CodeDocExceptions(Model.Exceptions)
  </section>
  }
  if (Model.HasNormalTerminationEnsures) {
  <section>
    <h2>Ensures on Successful Execution</h2>
    @Html.CodeDocSimpleCodeContractTable(Model.NormalTerminationEnsures)
  </section>
  }
}
