@using DandyDoc.CodeDoc
@using DandyDoc.Web.Mvc4.Helpers;
@model ICodeDocProperty
@{ Layout = "./_Layout.cshtml"; }
<section>
  <h2>Value</h2>
  <p><b>Type:</b> @Html.ActionLink(Model.ValueType)</p>
  @if (Model.HasValueDescriptionContents) {
    @Html.XmlDocHtml(Model.ValueDescriptionContents)
  }
  <p>
    <b>Accessors:</b> @(Model.HasGetter
      ? (Model.HasSetter ? "Get and Set." : "Get only.")
      : (Model.HasSetter ? "Set only." : "Inaccessible."))
  </p>
</section>
@if (Model.HasGetter && DandyDocHelpers.CodeDocAccessorIsWorthDisplaying(Model.Getter)) {
  <section>
    <h2>Getter</h2>
    @Html.CodeDocAccessor(Model.Getter)
  </section>
}
@if (Model.HasSetter && DandyDocHelpers.CodeDocAccessorIsWorthDisplaying(Model.Setter)) {
  <section>
    <h2>Setter</h2>
    @Html.CodeDocAccessor(Model.Setter)
  </section>
}