@using System.Web.Optimization
@using DandyDoc.Core.ViewModels
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/css/bootstrap")
	@Styles.Render("~/css/docs")
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				Documentation
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				@if (ViewBag.TypeNavigationViewModel == null){
					<div>Navigation not available.</div>
				}
				else{
					Html.RenderPartial("Partials/TypeNavigationSideMenu", ViewBag.TypeNavigationViewModel as TypeNavigationViewModel);
				}
			</div>
			<div class="span9">
				@RenderBody()
			</div>
		</div>
	</div>
	@Scripts.Render("~/bundles/bootstrap")
</body>
</html>