@using DandyDoc.Web.Mvc4
@using DandyDoc.Web.Mvc4.Helpers
@model dynamic
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper RenderNavChildren(MvcApplication.NavNode node){
  <ul class="unstyled">
  @foreach (var child in node) {
    <li>@RenderNavItem(child)</li>
  }
  </ul>
}
@helper RenderNavItem(MvcApplication.NavNode node){
  <span style="word-break:break-all;">
    @if (!String.IsNullOrEmpty(node.Icon)) {
      <i class="@node.Icon"></i>
    }
    @node.Title
  </span>
  if (node.Count > 0) {
     @RenderNavChildren(node)
  }
}
<div class="container">
  <div class="row">
    <div class="span12">
      @RenderBody()
    </div>
  </div>
</div>
