@using System.Web.Optimization
@{Layout = null;}
@functions{

	protected bool IsAction(string actionName, string controllerName) {
		var currentAction = ViewContext.Controller.ValueProvider.GetValue("action").RawValue;
		if (!String.Equals(actionName, currentAction as string, StringComparison.OrdinalIgnoreCase))
			return false;
		var currentController = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;
		return String.Equals(controllerName, currentController as string, StringComparison.OrdinalIgnoreCase);
	}
	
	protected bool IsController(string controllerName) {
		var currentController = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;
		return String.Equals(controllerName, currentController as string, StringComparison.OrdinalIgnoreCase);
	}

}
@{
	var menuItems = new[] {
		new{Id = "Index", Title= "Index", Icon="icon-home", Url = Url.Action("Index","Home")},
		new{Id = "Get", Title="Get It", Icon="icon-download-alt", Url = Url.Action("Get","Home")},
		new{Id = "DocsIndex", Title="Get Started", Icon="icon-play", Url = Url.Action("Index","Docs")},
		new{Id = "DocsApi", Title = "Documentation", Icon="icon-book", Url = Url.Action("Api","Docs")},
		new{Id = "Project", Title="Project", Icon="icon-pencil", Url = "http://github.com/aarondandy/dandy-doc/"}
	};
	string currentMenu;
	if (IsAction("Index", "Home")) {
		currentMenu = "Index";
	}
	else if (IsAction("Get", "Home")) {
		currentMenu = "Get";
	}
	else if (IsAction("Api", "Docs")) {
		currentMenu = "DocsApi";
	}
	else if (IsController("Docs")) {
		currentMenu = "DocsIndex";
	}
	else {
		currentMenu = "Index";
	}
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/css/bootstrap","~/css/sh","~/css/site")
</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="span12">
						<h1>@ViewBag.Title</h1>
						@if (!String.IsNullOrEmpty(ViewBag.SubTitle)){<p class="lead">@ViewBag.SubTitle</p>}
					</div>
				</div>
			</div>
		</header>
		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					@foreach (var menuItem in menuItems) {
						<li class="@(menuItem.Id == currentMenu?"active":String.Empty)"><a href="@menuItem.Url">@if(!String.IsNullOrEmpty(menuItem.Icon)) {<i class="@menuItem.Icon"></i>} @menuItem.Title</a></li>
					}
				</ul>
			</div>
		</div>
		@RenderBody()
		@Scripts.Render("~/bundles/jquery","~/bundles/bootstrap")
	</body>
</html>