@using System.Web.Optimization
@{Layout = null;}
@functions{

  protected bool IsAction(string actionName, string controllerName) {
    var currentAction = ViewContext.Controller.ValueProvider.GetValue("action").RawValue;
    if (!String.Equals(actionName, currentAction as string, StringComparison.OrdinalIgnoreCase))
      return false;
    var currentController = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;
    return String.Equals(controllerName, currentController as string, StringComparison.OrdinalIgnoreCase);
  }

  protected bool IsController(string controllerName) {
    var currentController = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;
    return String.Equals(controllerName, currentController as string, StringComparison.OrdinalIgnoreCase);
  }
    
}
@{

  var menuItems = new[] {
    new{Id = "Index", Title= "Index", Icon="icon-home", Url = Url.Action("Index","Home")},
    new{Id = "DocsIndex", Title="Get Started", Icon="icon-play", Url = Url.Action("Index","Docs")},
    new{Id = "DocsApi", Title = "API Reference", Icon="icon-book", Url = Url.Action("Api","Docs")},
    new{Id = "GitHub", Title="On GitHub", Icon="icon-pencil", Url = "http://github.com/aarondandy/dandy-doc/"}
  };
  string currentMenu;
  if (IsAction("Index", "Home")) {
    currentMenu = "Index";
  }
  else if (IsAction("Get", "Home")) {
    currentMenu = "Get";
  }
  else if (IsAction("Api", "Docs")) {
    currentMenu = "DocsApi";
  }
  else if (IsController("Docs")) {
    currentMenu = "DocsIndex";
  }
  else {
    currentMenu = "Index";
  }

}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/bootstrap-css", "~/sh-css", "~/site-css")
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span12">
        <header>
          <h1>@ViewBag.Title</h1>
          @if (!String.IsNullOrEmpty(ViewBag.SubTitle)) {<p class="lead">@ViewBag.SubTitle</p>}
        </header>
        <div class="navbar">
          <nav class="navbar-inner">
            <ul class="nav">
              @foreach (var menuItem in menuItems) {
                <li class="@(menuItem.Id == currentMenu ? "active" : String.Empty)">
                  <a href="@menuItem.Url">@if (!String.IsNullOrEmpty(menuItem.Icon)) {<i class="@menuItem.Icon"></i>} @menuItem.Title</a>
                </li>
              }
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  @RenderBody()
  <div class="container">
    <div class="row">
      <footer class="span12">
        <div>Icons by <a href="http://glyphicons.com/">Glyphicons</a>.</div>
      </footer>
    </div>
  </div>
  @Scripts.Render("~/jquery", "~/bootstrap-js", "~/site-js")
  @if (!true) {
    Html.RenderPartial("GoogleAnalytics");
  }
</body>
</html>
