@using DandyDoc.Web.ServiceStack
@inherits ServiceStack.Razor.ViewPage
@{
  string pageTitle = ViewBag.Title;
  if (String.IsNullOrWhiteSpace(pageTitle)) {
    pageTitle = "Dandy Doc";
  }
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@pageTitle</title>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.cosmo.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/site.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span12">
        <header>
          <h1>@pageTitle</h1>
          @if (!String.IsNullOrWhiteSpace(ViewBag.SubTitle)) {<p class="lead">@ViewBag.SubTitle</p>}
        </header>
        <nav class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="@this.CorrectRelativeUri("/")"><i class="icon-home"></i> Index</a></li>
                  <li><a href="@this.CorrectRelativeUri("/Docs/")"><i class="icon-play"></i> Get Started</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book"></i> API Reference<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">All Namespaces</a></li>
                      @{
                        var codeDocRepositories = this.AppHost.TryResolve<CodeDocRepositories>();
                        if (codeDocRepositories != null) {
                          <li class="divider"></li>
                          foreach (var ns in codeDocRepositories.TargetRepository.Namespaces) {
                            <li>@(this.ActionLink(ns))</li>
                          }
                        }
                      }
                    </ul>
                  </li>
                  <li><a href="http://github.com/aarondandy/dandy-doc/"><i class="icon-pencil"></i> Project</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  @RenderBody()
  <div class="container">
    <div class="row">
      <footer class="span12">
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
